
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



body{
    margin: 0;
    background-color: lightgrey;
    
}

#play,#stop{
	display:inline-flex;
	padding:16px;
	border:1px groove white;
	border-radius:5px;
    height: 15px;
    color: beige;
    border-width:  5px;
}
iframe{display:none;
}

#play:hover ,#stop:hover{
    color: red;
    font-weight: bold;
    border-color: red;
}

#my-canvas{
    border: groove 2px black;
    background-color: sandybrown;
    box-shadow: 10px 10px 5px 5px #888888;
}

#start-btn {
    background-color: yellow;
    width: 170px;
    height: 70px;
    border-radius: 60px;
    color: blue;
    font-weight: bold;
    font-size: 29px;
}

#restart-btn {
    background-color: yellow;
    width: 270px;
    height: 70px;
    border-radius: 60px;
    color: blue;
    font-weight: bold;
    font-size: 29px;
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

#my-canvas, #gameover-screen {
    display: none;
}

#welcome-screen-img {
    width: 450px;
    margin-bottom: 30px;
}

/*#section{
    background-image: url("img/gengarfamily.jpg");
    height: 400px; 
}*/

#gengar-family {
    margin: 25px;
    box-shadow: 15px 14px 5px 0px rgba(0,0,0,0.76);
}

#span1 {
    font-size: 62px;
    font-family: 'Creepster', cursive;
    margin: 10px;
    background-color: lightgray;
}

#final-img{
    height: 480px;
}

#span2{
    font-family: 'Anton', sans-serif;
    font-size: 52px;
    margin: 20px;
    color: steelblue;
}

#music{
    position: absolute;
    top: 10px;
    right: 10%;
}


body {
    margin: 0;
    /*background-image: url("img/arena-background1.jpg");*/
    /*background-image: url("../Pokemon_Project/img/arena-background4.jpg");*/
    background-image: url("img/arena-background4.jpg");
    background-size: cover;
  }

  #instrucciones{
    position: absolute;
    top: 400px;
    left: 40px;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 10px;
    text-decoration: none;

    color: #888888;
    
  }